@import "tailwindcss";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #0f172a;
}

.dark .jumbo {
	background-image: var(--stripesDark), var(--rainbow);
	filter: opacity(40%) saturate(150%);
}

.jumbo {
	--stripes: repeating-linear-gradient(
		100deg,
		#fff 0%,
		#fff 7%,
		transparent 10%,
		transparent 12%,
		#fff 16%
	);
	--stripesDark: repeating-linear-gradient(
		100deg,
		#000 0%,
		#000 7%,
		transparent 10%,
		transparent 12%,
		#000 16%
	);
	--rainbow: repeating-linear-gradient(
		100deg,
		#60a5fa 10%,
		#e879f9 16%,
		#5eead4 22%,
		#60a5fa 30%
	);
	contain: strict;
	contain-intrinsic-size: 100vw 40vh;
	background-image: var(--stripes), var(--rainbow);
	background-size: 300%, 200%;
	background-position: 50% 50%, 50% 50%;
	height: inherit;
	transform: translateZ(0);
	perspective: 1000;
	backface-visibility: hidden;
	filter: invert(100%);
	mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
	mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
	pointer-events: none;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: var(--stripes), var(--rainbow);
		background-size: 200%, 100%;
		mix-blend-mode: difference;

		animation: jumbo 90s linear infinite;

		background-image: var(--stripesDark), var(--rainbow);
	}
}

.jumbo {
	background-image: var(--stripesDark), var(--rainbow);
	filter: opacity(50%) saturate(200%);
}

body {
	margin: 0;
	display: flex;
	min-height: 100vh;
	place-items: center;
	justify-content: center;
}

@keyframes jumbo {
	0% {
		background-position: 50% 50%, 50% 50%;
	}
	100% {
		background-position: 350% 50%, 350% 50%;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
